ul{
    list-style:none; 
    margin:0; 
    padding:0;
}
body{
    font-family: Verdana
}
li{
   display: inline; 
   padding:5px;
   margin:30px
}
rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    }
